$normal-limit: 1200px;
$mobile-limit: 500px;
$landscape-limit: 900px;

$light-gray-3: #aaa;
$light-gray-2: #f4f4f4;

$light-red: #F88379;
$dark-red: #8b0000;

$light-green:  #82e0aa;
$dark-green:  #239b56;

$black: #000000;
$dark-blue: #15243e;
$primary-color: #40588e;
$secondary-color: #7494e8;
$light-color: #b2d5ff;