@media(max-width: $landscape-limit) {
    // Utilities
    .container {
        max-width: 750px;
    }
    
    .book {
        // position: inherit;
        
        &:hover {
            &:after {
                left: -1rem;  
            }
    
            &:before {
                right: -2.2rem ;
            }
        }
    }
}